
.strength{
	padding-top:60px;
	text-align:center;
}
.strengthMain{
	display:inline-block;
	width:1000px;
	overflow:hidden;
}
.strengthMain div{
	float:left;
	width:500px;
	height:280px;
	overflow:hidden;
	background:rgba(0,0,0,0);
	position:relative;
}
.strengthMain div img{
	width:500px;
	height:280px;
	transition:all .5s;opacity:1;filter:alpha(opacity=40);
}
.strengthMain div .font{
	width:500px;
	height:180px;
	top:0;
	left:0;
	position:absolute;
	color:#fff;
	text-align:center;
	font-size:14px;
	padding-top:100px;
}
.strengthMain div .font h3{
	font-size:36px;
	color:#fff;
	font-weight:normal;
	margin-bottom:20px;
	line-height:36px;
}
.strengthMain div:hover{
	background:rgba(0,0,0,0.5);
}
.strengthMain div:hover img{
	transform: scale(1.05, 1.05);opacity:1;
}
.strengthMain div .font::before,.strengthMain div .font::after{
	position:absolute;
	content:'';
	opacity:0;
	transition:all 0.5s;
}
.strengthMain div .font::before{
	top:25px;
	right:15px;
	bottom:25px;
	left:15px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	transform:scale(0,1);
	-webkit-transform-origin:0 0;
	transform-origin:0 0;
}
.strengthMain div .font::after{
	top:15px;
	right:25px;
	bottom:15px;
	left:25px;
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	transform:scale(1,0);
	transform-origin:100% 0;
}
.strengthMain div:hover .font::before,.strengthMain div:hover .font::after{
	opacity:1;
	transform:scale(1);
	transition: all 0.5s;
}
